$colorLight: #fff;
$colorDark: #252525;
$colorBackground: #f2f2f2;
$colorAccent: #e94949;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1042px;
  margin: 0 auto;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.2;
}
.main-page {
  text-align: left;
  padding: 30px;
  a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: $colorLight;
    font-weight: bold;
  }
}
// Header
.page-header {
  background: $colorDark;
  color: $colorLight;
  padding: 10px 0;
  text-align: center;
  h1 {
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    margin: auto;
    width: 60%;
  }
  p {
    margin: auto;
    width: 80%;
    padding-bottom: 30px;
  }
}
// Sliders
.main-banner {
  background: $colorBackground;
  .banner {
    height: 400px;
    position: relative;
    .banner-prev,
    .banner-next {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 100%;
      font-size: 60px;
      color: $colorDark;
      border: 0;
      background: transparent;
      cursor: pointer;
    }
    .banner-prev:focus,
    .banner-next:focus {
      outline: none;
      color: #000;
    }
    .banner-next {
      right: 0;
      left: auto;
    }
    .banner-slides {
      position: relative;
      height: 100%;
      margin: 0 100px;
      .banner-slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 0.4s opacity;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        p {
          span {
            font-weight: bold;
          }
        }
        .slider-number {
          color: $colorAccent;
          font-weight: bold;
          //font-size: 80px;
          padding: 20px 0;
        }
      }
      .banner-slide-active {
        opacity: 1;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .slider-number {
    font-size: 40px;
  }
}
@media only screen and (min-width: 600px) {
  .slider-number {
    font-size: 60px;
  }
}
@media only screen and (min-width: 800px) {
  .slider-number {
    font-size: 80px;
  }
}

// Footer
.footer {
  background: $colorDark;
  padding: 50px 0;
  text-align: center;
  .footer-text {
    color: $colorLight;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 30px;
    margin: auto;
  }
  a {
    display: inline-block;
    margin: auto;
    color: $colorLight;
    text-decoration: none;
    border-radius: 100px;
    text-transform: uppercase;
    padding: 15px 25px;
    background: $colorAccent;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  }
}
// Choose the chart page
.choose-chart-main {
  padding: 10px 0;
  height: 100vh;
  background-image: url("~./img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    height: 100%;
    .choose-chart {
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .choose-chart-text {
        font-weight: bold;
        color: $colorLight;
        padding: 30px 0;
      }
      .choose-chart-links {
        a {
          color: $colorLight;
          text-decoration: none;
          border-radius: 100px;
          text-transform: uppercase;
          padding: 15px 25px;
          background: $colorAccent;
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
          margin: 10px 50px;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .choose-chart-links {
    a {
      display: block;
    }
  }
  .choose-chart-text {
    font-size: 40px;
  }
}
@media only screen and (min-width: 600px) {
  .choose-chart-links {
    a {
      display: inline-block;
    }
  }
  .choose-chart-text {
    font-size: 60px;
  }
}
@media only screen and (min-width: 800px) {
  .choose-chart-text {
    font-size: 80px;
  }
}
// Graphics
.sectors {
  //background: #f2f2f2;
  .sectors-forms {
    display: flex;
    align-items: center;
    justify-content: center;
    .forms {
      form {
        padding: 20px 10px;
        text-align: left;
      }
      label {
        display: block;
      }
    }
  }
}
// Footer w wykresach
.footer-chart {
  background: #252525;
  min-height: 15em;
  p {
    padding: 10px 0;
    color: #fff;
  }
}
